@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotateAnimation {
    animation-name: rotateAnimation;
    animation-duration: 2s;
}

@keyframes enterAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.enterAnimation {
    animation-name: enterAnimation;
    animation-duration: 2s;
}

@keyframes leaveAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.leaveAnimation {
    animation-name: leaveAnimation;
    animation-duration: 2s;
}
